<app-header></app-header>
<section id="details_top" *ngIf="recipe">
  <div class="container">
   <div class="row">
    <div class="col-sm-12 details_top_1">
      <div class="detail_n clearfix" style="margin-top:40px;">
     <div class="col-sm-6 pad_l">
      <div class="detail_nl clearfix">
       <img src="/api/recipes/{{recipe.id}}/image" class="fotoReceta" alt="abc">
      </div>
     </div>
     <div class="col-sm-5">
      <div class="detail_nr clearfix">
       <h1>{{recipe.name}}</h1>
      </div>
     <p>Cook Time: {{recipe.cookTime}}</p>
     <p>Dificulty: {{recipe.difficulty}}</p>
     <h5>{{recipe.uploadDate}} | {{recipe.creator}}</h5>
     <div *ngIf="loginService.isLogged()">
       <form  *ngIf="!stored">
          <input type="hidden" id="id_Recipe" name="id_Recipe" value={{recipe.id}}>
          <input type="submit" class="btn btn-danger" id="btnSaveRecipe" (click)="storeRecipe()" value="Save Recipe"/>
       </form>
       <form *ngIf="stored">
        <input type="submit" class="btn btn-danger" id="btnDisable" value="Already Saved" disabled/>
       </form>

       <form *ngIf="loginService.isAdmin()" action="/processDeleteRecipe" method="post">
        <input type="hidden" id="id_Recipe" name="id_Recipe" value={{recipe.id}}>
          <input type="submit" class="btn btn-danger" id="btnSaveRecipe" (click)="deleteRecipe()" value="Delete Recipe"/>
       </form>
       <button *ngIf="loginService.isAdmin()" class="btn btn-danger"><a [routerLink]="['/recipeupdater', recipe.id]">Update Recipe</a></button>
     </div>
     </div>
   </div>
    </div>
    <div class="salad_5">
     <div class="col-sm-5">
     <h3>Preparation </h3>
      <h4>  {{recipe.preparation}}</h4>
      </div>
     <div class="col-sm-7">
       <h3>Ingredients</h3>
       <ul class="salad_6">
        <li>{{recipe.ingredients}}</li>
       </ul>
     </div>
     </div>
     <div class="salad_5">
     <div class="col-sm-12">
     <h3>Categories</h3>
       <h4 *ngIf="hasVegetables()"> "Vegetables"</h4><h4 *ngIf="hasProteyn()"> "Protein"</h4><h4 *ngIf="hasHydrates()"> "Hydrates" </h4><h4 *ngIf="hasCarboHydrates()"> "Carbohydrates"</h4><h4 *ngIf="isHighInFat()"> "High in fat"</h4>
     </div>
    </div>
   </div>
   </div>
 </section>
<app-footer></app-footer>
