<app-header></app-header>
<section id="blog" class="clearfix">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
  <h2>Introduction</h2>
  <p>This is a project where we are going to develop a new web application about the relationship beetween the food and our users. The main idea is that you will find recipes uploaded by other users, and you would save them to build your semanal food plan. In addition, you will have the opportunity to generate your own shopping list automatically, using the different elements that your daily food has. Let's take a deeper look about what are we planning to develop:</p>
  <p>So, Class aptent taciti sociosqu ad  torquent per conubia nostra, per inceptos himenaeos.</p>
  <h3>Food & U features</h3>
  <p>Which features will Food & U have? Our development team has planned to include:</p>

	  <p>- Upload your own recipes which you think that other users could find interesting. These recipes must include images, which will mean a very first look for the interesed.</p>
	  <p>- Save the recipes that you want to include in your weekly menu.</p>
	  <p>- Every user will find in their data an active menu, filled by different meals that you have chosed.</p>
	  <p>- Every meal will contain its recipe and shopping list</p>
	  <p>- You could save as many menus as you want, but only one will be active.</p>
	  <p>- Every meal or recipe will include the principal nutritional information.</p>
	  <p>- Food & U will provide information about your weekly menu: you will see how balanced is your diet, and how could you improve it around our standards.</p>
  </div>
  <div class="col-sm-2"></div>
 <div class="col-sm-12 blog_center_2">
  <div class="col-sm-2"></div>
  <div class="col-sm-9 blog_center_2_main">
   <div class="col-sm-12 blog_center_2_main_top">
   </div>
  </div>
  <div class="col-sm-1"></div>
 </div>
</section>
<app-footer></app-footer>
