<app-header *ngIf="isAdmin()"></app-header>
<section *ngIf="isAdmin()" id="mini">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 top">
      </div>
    </div>
  </div>
</section>
<section *ngIf="isAdmin()" id="blog" class="clearfix">
  <div class="blog_center_1 clearfix">
    <form action="/processFormRecipe" method="post" enctype="multipart/form-data">
      <div class="col-sm-8">

          <p>Name:</p>
          <input [(ngModel)]="name" type="text" placeholder="name" name="name"required>

          <p>Cook Time:</p>
          <input type="number" [(ngModel)]="cookTime" placeholder="00" name="cook time"required>

          <p> Difficulty: </p>
          <select [(ngModel)]="difficulty" name="difficulty">
            <option [ngValue]="null" disabled>Select Difficulty</option>
            <option *ngFor="let difficulty of difficulties" [ngValue]="difficulty.id">{{difficulty.name}}</option>
          </select>

          <p>Ingredients: </p>
          <textarea [(ngModel)]="ingredients" placeholder="ingredients" name="ingredients"></textarea>

          <p>Preparation: </p>
          <textarea [(ngModel)]="preparation" placeholder="preparation" name="preparation"></textarea>
          <p>Vegetables: <input type="checkbox" [(ngModel)]="vegetables" [ngModelOptions]="{standalone: true}"></p>

          <p>Protein: <input type="checkbox" [(ngModel)]="protein" [ngModelOptions]="{standalone: true}"></p>

          <p>Hydrates: <input type="checkbox" [(ngModel)]="hydrates" [ngModelOptions]="{standalone: true}"></p>

          <p>Carbohydrates: <input type="checkbox" [(ngModel)]="carbohydrates" [ngModelOptions]="{standalone: true}"></p>

          <p>High in fat: <input type="checkbox" [(ngModel)]="highinfat" [ngModelOptions]="{standalone: true}"></p>

          <p>
            <button (click)="cancel()">Cancel</button>
            <button (click)="save()">Save</button>
          </p>
        </div>
    </form>
  </div>
</section>
<app-error *ngIf="isAdmin()==false"></app-error>
<app-footer *ngIf="isAdmin()"></app-footer>
