<app-header *ngIf="isLogged()"></app-header>
<section *ngIf="isLogged()" id="blog" class="clearfix">
  <ul class="User Links" style= "text-align: center;">
      <h1>{{menu.name}}</h1>
  </ul>
  <tr>
  </tr>


<div class="col-sm-12 blog_center_2">
  <div class="col-sm-2"></div>
  <div class="col-sm-9 blog_center_2_main">
      <div class="col-sm-12 blog_center_2_main_top">
        <div>
    <table class="table-fill">
        <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
            <td class="text-left" *ngFor="let lunch of lunches"><a [routerLink]="['/recipespecific', lunch.id]">{{lunch?.name}}</a></td>
        </tr>
        <tr>
            <td class="text-left" *ngFor="let dinner of dinners"><a [routerLink]="['/recipespecific', dinner.id]">{{dinner?.name}}</a></td>
        </tr>
        </tbody>
    </table>
</div>
<br><br><br>
        <form *ngIf="isActive()==false" method="post">
                  <input type="hidden" id="id_Menu" name="id_Menu" value={{menu.id}} >
                  <input type="submit" class="btn btn-danger" id="btnSaveRecipe" value="Active Menu"/>
        </form>
        <input *ngIf="isActive()==true" type="submit" class="btn btn-danger" id="btnDisable" value="Already Active" disabled/>
          <br><br><br><br><br>
          <div class="col-sm-8 blog_center_2_main_top_2">
              <!--
              <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
              <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
              <script>
                  var xValues = ["Your vegetables", "Usual Vegetables", "Your Proteins", "Usual Protein", "Your Hydrates", "Usual Hydrates", "Your c.Hydrates", "Usual c.Hydrates", "Your Fat", "Usual Fat"];
                  var yValues = [{{vegetablesMenu}}, {{vegetablesStandard}}, {{proteinMenu}}, {{proteinStandard}},{{hydratesMenu}},{{hydratesStandard}},{{carboHydratesMenu}},{{carboHydratesStandard}},{{highInFatMenu}},{{highInFatStandard}}];
                  var barColors = ["red", "red","blue","blue","brown","brown","yellow","yellow","green","green"];
                  new Chart("myChart", {
                      type: "bar",
                      data: {
                          labels: xValues,
                          datasets: [{
                              backgroundColor: barColors,
                              data: yValues
                          }]
                      },
                      options: {
                          legend: {display: false},
                          title: {
                              display: true,
                              text: "How healthy is your menu?"
                          }
                      }
                  });
              </script>-->
              <p>The score we consider for this menu is {{menu.score}} / 10</p>
              <p *ngIf="isHealthy()==true"> so, it seems helathy!</p>
              <p *ngIf="isHealthy()==false"> we strongly believe you should try something more healthy</p>
          </div>
      </div>
  </div>
  </div>
  </section>

<app-footer *ngIf="isLogged()"></app-footer>
<app-error *ngIf="isLogged()==false"></app-error>
