{{>header}}
<section id="mini">
 <div class="container">
  <div class="row">
     <div class="col-sm-12 top">
	 </div>
  </div>
 </div>
</section>
<section id="details_top">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 details_top_1">
     <div class="detail_n clearfix" style="margin-top:40px;">
	  <div class="col-sm-6 pad_l">
	  </div>
	   <div class="detail_nr clearfix">
	    <h1 style= "text-align: center;">USER: {{username}}</h1>
	   </div>
		<p>e-mail: {{mail}}</p>
		<ul class= "User Links" style= "text-align: center; list-style-type: none;">
			<li><a href="/YourMenu"><h4>Active Menu</h4></a></li>
			<li><a href="/DietMaker"><h4>Diet Maker</h4></a></li>
			<li><a href="/StoredDiets"><h4>Stored Diets</h4></a></li>
			<li><a href="/MenuMaker"><h4>Menu Maker</h4></a></li>
			<li><a href="/MenuAll"><h4>Menu All</h4></a></li>
			<li><a href="/StoredRecipes"><h4>Stored Recipes</h4></a></li>
		</ul>
		<div class="btn-group-lg">
            <ul class= "User Links">
                <button><a href="/processLogOut"><h4>Log Out</h4></a></button>
            </ul>
			 </div>
		  </div>
		</div>
	 </div>
	</div>
	</div>
   </div>
</section>
{{>footer}}
