<app-header *ngIf="isLogged()"></app-header>
<div *ngIf="isLogged()" class="col-sm-11">
    <h2>Diet</h2>
    <label>Name: </label>
    <input [(ngModel)]="name" type="text" placeholder="name" required>
</div>

<div *ngIf="isLogged()" class="bp_2 clearfix">
    <div class="col-sm-3 space_all prueba" *ngFor="let menu of menusActive">
     <div id= menu.name>
         <div class="cuadro_intro_hover" style="background-color:#cccccc; height:250px;">
                     <div class="caption-text">
                       <h3 style="border-top:2px solid white; padding-top:20px;"><a [routerLink]="['/menuloader', menu.id]">{{menu?.name}}</a></h3>
                       <button type="button" (click)="desactivate(menu.id)">Desactivate</button>
                     </div>
                 </div>
     </div>
    </div>
</div>
<div *ngIf="isLogged()" class="bp_2 clearfix">
    <div class="col-sm-3 space_all prueba" *ngFor="let menu of menusDesactive">
     <div id= menu.name>
         <div class="cuadro_intro_hover" style="background-color:#cccccc; height:250px;">
                     <div class="caption-text">
                       <h3 style="border-top:2px solid white; padding-top:20px;">{{menu?.name}}</h3>
						<button type="button" (click)="activate(menu.id)">Activate</button>
                     </div>
         </div>
     </div>
    </div>
</div>
<div *ngIf="isLogged()" class="col-sm-11">
    <button (click)="save()">Save</button>
</div>
<app-footer *ngIf="isLogged()"></app-footer>
<app-error *ngIf="isLogged()==false"></app-error>
