<app-header *ngIf="isAdmin()"></app-header>
<section *ngIf="isAdmin()" id="mini">
  <div class="container">
   <div class="row">
      <div class="col-sm-12 top">
    </div>
   </div>
  </div>
 </section>
 <section *ngIf="isAdmin()" id="details_top">
  <div class="container">
   <div class="row">
    <div class="col-sm-12 details_top_1">
      <div class="detail_n clearfix" style="margin-top:40px;">
     <div class="col-sm-6 pad_l">
     </div>
      <div class="detail_nr clearfix">
       <h1 style= "text-align: center;">ADMIN: {{admin.name}}</h1>
      </div>
     <ul class= "User Links" style= "text-align: center; list-style-type: none;">
       <li><a [routerLink]="['/recipemaker']"><h4>Make Recipe</h4></a></li>
             <li> <p>Users data:</p>
                         <p>Total Users: {{userList.length}}  </p>
                         <p>Healthy Users: {{healthyUsers}} </p>
                         <p>UnHealthy Users: {{unhealthyUsers}} </p>
             </li>
     </ul>
          <div class="btn-group-lg">
              <ul class= "User Links">
                <button><a (click)="logout()"><h4>Log Out</h4></a></button>
              </ul>
          </div>
      </div>
    </div>
    </div>
   </div>
 </section>
 <app-error *ngIf="isAdmin()==false"></app-error>
<app-footer *ngIf="isAdmin()"></app-footer>
