{{>header}}
<section id="mini">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 top">
			</div>
		</div>
	</div>
</section>
<section id="blog" class="clearfix">
	<div class="blog_center_1 clearfix">
		<div class="col-sm-2"></div>
			<form action="/processUpdateRecipe/{{recipe.id}}" method="post" enctype="multipart/form-data">
				<div class="col-sm-8">
					<h2>Recipe</h2>
					<p>Name:</p>
					<p><input type="text" id="name" name="name" value="{{recipe.name}}"></p>

					<p>Cooktime:</p>
					<p><input type="number" id="time" name="time" value="{{recipe.cookTime}}"> Minutes</p>

					<p>Difficulty:</p>
					<p><select id="difficulty" name="difficulty">
						{{#middle}}
						<option value="medium">Medium</option>
						{{/middle}}
						{{#hard}}
						<option value="hard">Hard</option>
						{{/hard}}
						<option value="easy">Easy</option>
						{{#notMiddle}}
						<option value="medium">Medium</option>
						{{/notMiddle}}
						{{#notHard}}
						<option value="hard">Hard</option>
						{{/notHard}}user_table
					</select></p>

					<p>Preparation:</p>
					<p><textarea id="preparation" name="preparation" cols="40" rows="5">{{recipe.preparation}}</textarea></p>

					<p>Ingredients:</p>
					<p><textarea id="ingredients" name="ingredients" cols="20" rows="2">{{recipe.ingredients}}</textarea></p>

					<p>Categories:</p>
					<div class="col-sm-6">
						<p><label><input type="checkbox" id="vegetables" name="booleanos" {{vegetables}} value="vegetables"> Vegetables</label><br></p>
						<p><label><input type="checkbox" id="protein" name="booleanos" {{protein}} value="protein"> Protein</label><br></p>
						<p><label><input type="checkbox" id="hydrates" name="booleanos" {{hydrates}} value="hydrates"> Hydrates</label><br></p>
					</div>
					<div class="col-sm-6">
						<p><label><input type="checkbox" id="carbohydrates" name="booleanos" {{carbohydrates}} value="carbohydrates"> Carbohydrates</label><br></p>
						<p><label><input type="checkbox" id="highinfat" name="booleanos" {{highinfat}} value="highinfat"> High in fat</label><br></p>
					</div>
					<div class="col-sm-12">
						<input type="file" id="imageRecipe" name="imageRecipe">
					</div>
					<div class="col-sm-12">
						<input type="hidden" name="_csrf" value="{{token}}"/>
						<input type="submit" placeholder="Finish Recipe">
					</div>
				</div>
			</form>
		</div>
	</div>

</section>

{{>footer}}
